* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: rgb(39, 39, 39);
}

/*----------------------------header styles----------------------*/
header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(24, 24, 24, 0));
    position: absolute;
    z-index: 1;
    width: 100%;
}

/*------------------Navigation styles-----------------------*/
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}


.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ccc;
    border-bottom: 3px solid rgb(0, 195, 255);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

.bar {
    background-color: white;
    width: 30px;
    height: 3px;
    transition: all 0.3s;
}


/*-----------------------Main section styles-----------------------*/

main {
    position: relative;
    top: 0;
    left: 0;
}

.cover-container {
    position: relative;
    width: 100%;
    height: 30vh;
    /* 30% of the viewport height */
    overflow: hidden;
    background-color: green;
}

.cover-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    object-fit: cover;
}

.profile-container {
    width: 30vh;
    position: relative;
    top: -15vh;
    border-radius: 50%;
    overflow: hidden;
}

.profile-container img {
    display: block;
    width: 100%;
    height: auto;
}



/*----------------tablet styles-----------------*/

@media screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        background-image: url('pictures/home/background-mob.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .menu-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        background-color: rgba(24, 24, 24, 0.95);
        transition: all 0.3s;
    }

    .menu {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        text-align: center;
    }

    .menu li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid rgba(0, 195, 255, 0.1);
    }

    .hamburger {
        display: flex;
    }

    .menu-container.open {
        right: 0;
    }

    .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .bar:first-child {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.open .bar:last-child {
        transform: translateY(-9px) rotate(-45deg);
    }

    .cover-container {
        display: none;
    }


    .profile-container {
        position: relative;
        width: 20vh;
        margin: auto;
        top: 15vh;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid white;
    }

    .profile-container img {
        display: block;
        width: 100%;
        height: auto;
    }

    .cover-content {
        position: relative;
        width: 100%;
        top: 20vh;
        text-align: center;
        color: white;
    }




}

/*----------------------Phone styles-----------------*/

@media screen and (max-width: 767px) {
    body {
        background-image: url('pictures/home/background-mob.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .menu-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        background-color: rgba(24, 24, 24, 0.95);
        transition: all 0.3s;
    }

    .menu {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        text-align: center;
    }

    .menu li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid rgba(0, 195, 255, 0.1);
    }

    .hamburger {
        display: flex;
    }

    .menu-container.open {
        right: 0;
    }

    .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .bar:first-child {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.open .bar:last-child {
        transform: translateY(-9px) rotate(-45deg);
    }

    .cover-container {
        display: none;
    }



    /*-----------------Profile Info Section-----------------------*/
    .profile-container {
        position: relative;
        width: 20vh;
        margin: auto;
        top: 15vh;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid white;
    }

    .profile-container img {
        display: block;
        width: 100%;
        height: auto;
    }

    .cover-content {
        position: relative;
        width: 100%;
        top: 20vh;
        text-align: center;
        color: white;
    }

    .m-links {
        width: 50%;
        display: flex;
        margin: 5vh auto;
        justify-content: space-between;
    }

    .m-links img {
        width: 60%;
    }

    /*----------------Info Areas----------------*/


    #info-areas {
        position: relative;
        top: 20vh;
        color: white;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgb(39, 39, 39));
    }

    .area {
        padding: 3vh;
    }

    .area h1 {
        display: inline-block;
        border-bottom: 0.5vh solid #00aeff;
    }

    .seeallButton {
        float: right;
        color: #00aeff;
        text-decoration: none;
    }

    .area-info {
        margin: 5vh 0;
    }




    /*----------------Skills section----------------------*/

    #skills-intro {
        background-color: rgb(39, 39, 39);
        margin: 1vh;
        border-radius: 1vh;
    }

    .slider {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .slider-item {
        flex: none;
        width: 100%;
        height: 350px;
        scroll-snap-align: start;
        pointer-events: none;
        opacity: 0;
        /* transition animation */
        transition: transform 0.5s, opacity 0.7s;
        text-align: center;
    }


    .slider-item.active {
        opacity: 1;
    }

    .slider-indicator {
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }

    .slider-indicator>div {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #ccc;
        margin: 0 5px;
        cursor: pointer;
    }

    .slider-pic {
        width: 60%;
        aspect-ratio: 4/3;
        object-fit: contain;
    }


    /*-------------------------Highlights section -----------------------*/


    #highlights {
        padding: 2vh;
    }

    .image-slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        width: 100%;
        height: 50vh;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        margin: 5vh 0 0 0;
    }

    .image-slider::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .image-slider-item {
        flex: 0 0 100%;
        /* make the width of each slide equal to the viewport width */
        position: relative;
        /* make this relative to allow absolute positioning within */
    }


    .image-slider img {
        scroll-snap-align: start;
        width: 100%;
        height: auto;
        /* adjust height automatically based on width to maintain aspect ratio */
        object-fit: cover;
        object-position: top;
        transition: transform 0.3s;
    }


    .image-slider img.active {
        transform: scale(1);
        /* change scale to 1 or greater */
        opacity: 1;
        /* change opacity to 1 */
    }

    .image-slider-caption,
    #image-fullscreen-caption {
        position: absolute;
        bottom: 0;
        /* move to the top of the image */
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 10px;
        box-sizing: border-box;
        /* include padding in element's total width/height */
    }

    #image-fullscreen-caption {
        position: absolute;
        bottom: 50px;
        /* Adjust this value as needed to position above the counter */
    }

    .image-slider-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: white;
        padding: 2px;
    }

    .image-slider-controls button {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px;
        margin: 0 2%;
        cursor: pointer;
    }

    .image-slider-fullscreen {
        padding: 0;
    }

    .image-slider-controls .image-slider-count {
        margin-left: auto;
        padding: 10px;
    }

    .image-slider-fullscreen img {
        width: 50%;
    }


    #image-fullscreen-view {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #image-fullscreen-view.hidden {
        display: none;
    }

    #image-fullscreen-image {
        max-width: 90%;
        max-height: 90%;
    }

    #image-close-btn,
    #image-prev-btn,
    #image-next-btn {
        position: absolute;
        padding: 3%;
        color: white;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: larger;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
    }

    #image-close-btn {
        top: 10px;
        right: 10px;

    }

    #image-prev-btn {
        left: 10px;
        bottom: 0;
    }

    #image-next-btn {
        right: 10px;
        bottom: 0;
    }



    #image-image-count {
        position: absolute;
        bottom: 10px;
        color: #fff;
        padding: 1%;
    }







    footer {
        position: relative;
        bottom: 0;
    }

}